Importar

In [1]:
import pandas_datareader.data as web
import pandas as pd

In [2]:
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [3]:
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})

In [4]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [5]:
returns = price.pct_change()

In [6]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-04-18 -0.001331 -0.003082  0.002466  0.005564
2022-04-19  0.014115  0.023619  0.017040  0.020084
2022-04-20 -0.001016  0.071003  0.003715 -0.017509
2022-04-21 -0.004844  0.011061 -0.019381 -0.025794
2022-04-22 -0.027821 -0.011441 -0.024144 -0.042609

In [7]:
returns['MSFT'].corr(returns['IBM'])

0.47789907612248106

In [8]:
returns['MSFT'].cov(returns['IBM'])

0.00014460965622475024

In [9]:
returns.MSFT.corr(returns.IBM)

0.47789907612248106

In [10]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.426441  0.747690  0.669697
IBM   0.426441  1.000000  0.477899  0.449250
MSFT  0.747690  0.477899  1.000000  0.788559
GOOG  0.669697  0.449250  0.788559  1.000000

In [11]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000384  0.000141  0.000263  0.000233
IBM   0.000141  0.000283  0.000145  0.000134
MSFT  0.000263  0.000145  0.000323  0.000252
GOOG  0.000233  0.000134  0.000252  0.000315

In [12]:
returns.corrwith(returns.IBM)

AAPL    0.426441
IBM     1.000000
MSFT    0.477899
GOOG    0.449250
dtype: float64

In [13]:
returns.corrwith(volume)

AAPL   -0.080209
IBM    -0.102064
MSFT   -0.071595
GOOG   -0.089615
dtype: float64

In [16]:
returns

                AAPL       IBM      MSFT      GOOG
Date
2017-04-24       NaN       NaN       NaN       NaN
2017-04-25  0.006196 -0.002239  0.005775  0.011058
2017-04-26 -0.005881 -0.002058 -0.001325 -0.000653
2017-04-27  0.000766  0.001624  0.006487  0.002891
2017-04-28 -0.000974 -0.000187  0.002783  0.036271
...              ...       ...       ...       ...
2022-04-18 -0.001331 -0.003082  0.002466  0.005564
2022-04-19  0.014115  0.023619  0.017040  0.020084
2022-04-20 -0.001016  0.071003  0.003715 -0.017509
2022-04-21 -0.004844  0.011061 -0.019381 -0.025794
2022-04-22 -0.027821 -0.011441 -0.024144 -0.042609

[1260 rows x 4 columns]